.footer{
    .fa {
        font-size: 1.5em;
        color:white;
        text-align: center;
        text-decoration: none;
        transition: .5s;
        &:hover{
            color: yellow;
        }
    }
    margin-top: 100px;
    flex-basis: 100%;
    background-color: $header-color;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    color: white;
    &__icons{
        display: flex;
        gap:10px;
    }
    &__link{
        text-decoration: none;
        color:white;
    }
}
