@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');
$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;
$main-color: rgb(56, 146, 206);
$header-color: rgb(64, 117, 153);
